.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
}

.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
}

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#search[type=text] {
    width: 400px;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 24px;
}

#search:focus {
    border: 2px solid #87CEFA;
}

.ui-menu {
  position: relative;
  background-color: rgba(255,255,255,1.0);
  max-width: 250px;
  font-size: 24px;
}

#ui-id-1 {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	list-style-type: none;
}

#ui-id-1 li:before {
	content:"• ";
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
}

#ui-id-1 li:hover:before {
    background-color: #D0D3D4;
}

.ui-state-focus {
    background-color: #D0D3D4;
}

.scrollSearch {
    max-height: 150px;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

#myProgress {
  width: 180px;
  background-color: #92b5c8;
  position: absolute;
}

#myBar {
  width: 0%;
  height: 40px;
  background-color: #ffffff;
  line-height: 30px;
}

#popdown-palette {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 60%;
    max-height: 100%;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.85);
}

#popdown-palette:last-child {
    margin-bottom: 2.5em;
}

#popdown-palette.show {
    display: block;
}

#popdown-palette.show ~ .canvasHolder {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#popdown-palette ul {
    display: none;
}

#popdown-palette .palette.show ul {
    display: block;
}

#popdown-palette li {
    list-style: none;
}

#popdown-palette h3 {
    border-bottom: 1px solid #444;
    width: 50%;
    padding: 0 10%;
}

#popdown-palette h2 span {
    vertical-align: 50%;
}

#popdown-palette h2 img {
    display: block;
    float: right;
}

#popdown-palette .palette.show .show-button {
    display: none;
}

#popdown-palette .palette:not(.show) .hide-button  {
    display: none;
}

#popdown-palette .palette:not(.show) .popout-button {
    display: none;
}

div.back {
    display: block;
    position: fixed;
    height: 2.5em;
    width: 100%;
    top: calc(100% - 2.5em);
    background-color: #4682B4;
}

div.back h2 {
    margin-top: 0.25em;
    border-bottom: none !important;
    color: white;
}

div.back:active {
    background-color: black;
}

.canvasHolder {
    transition: 0.75s ease all;
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.canvasHolder.hide {
    display: none;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #8bc34a;
    height: 64px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font: 32px sans;
    vertical-align: middle;
    line-height: 64px;
    color: white;
}

nav .nav-container {
    padding: 0 12px;
}

nav .logo {
    padding-left: 12px;
}

nav h1 {
    font-size: 32px;
    position: relative;
    top: -12px;
    display: inline;
}

nav img {
    height: 48px;
    width: 48px;
    margin-top: 6px;
    border-radius: 100%;
}

nav imghover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav imgactive {
    background-color: rgba(255, 255, 255, 0.8);
}

nav ul {
    list-style: none;
    text-align: right;
    display: inline;
}

nav ul li {
    display: inline;
    padding-right: 12px;
    float: right;
}

.nav-spacer {
    height: 48px;
}

.content {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.content li {
    display: block;
    list-style: none;
    width: 23.75%;
    float: left;
    padding-left: 1%;
}

.content li[current=true] img.thumbnail {
    opacity: 0;
}

@media (max-width: 500px) {
    .content li {
    width: 48.5%;
    padding-left: 1%;
    }

    .canvasHolder.hide {
    transform: scale(0.485);
    }

    nav h1 {
    display: none;
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    .content li {
    width: 32%;
    padding-left: 1%;
    }

    .canvasHolder.hide {
    transform: scale(0.32);
    }
}

.content li img.thumbnail {
    background: #96D3F3;
    width: 100%;
    padding: 0;
}

.content li .options, .content li .options input {
    text-align: center;
}

#planet-iframe {
    width:100vw;
    height:100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.projectname {
    word-wrap: break-word;
}

img.icon {
    border-radius: 100%;
    width: 30px;
}

img.icon:hover {
    background-color: rgba(139, 195, 74, 0.8);
}

#loading-image-container {
    z-index: 99999;
}

body {
    background-color: #92b5c8 !important; /*  2.5B 7/4 */
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body.samples-shown {
    overflow-y: scroll;
    background: white !important;
}

select {
    background-color: #88e20a;
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 20px;
}

input.text {
    background-color: #76dbd7 !important; /* 7.5BG 8/6 */
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px;
}

input.boolean {
    background-color: #f2ec4d !important; /* */
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px;
}

input.number {
    background-color: #ffb2bc !important; /* 0RP 8/10 */
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px;
}

input.dissectNumber {
    background-color: #c374e9 !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

input.musicratio1, input.musicratio2   {
    background-color: #c374e9 !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

input.BPMInput {
    background-color: #c374e9 !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

table {
    cellpadding: 0px !important;
    border-collapse: separate;
    border-spacing: 1px 1px;
}

.helpDiv {
    float: right;
    position: absolute;
    margin-top: 57px;
    z-index: -1;
}

#canvas {
    overflow-y: visible;
}

#statusDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#statusTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#statusButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#statusOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#statusInnerDiv {
    overflow-x:auto;
    margin-left: 53px;
}

#playbackDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#playbackTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#playbackButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#playbackOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#playbackInnerDiv {
    overflow-x:auto;
    margin-left: 53px;
}

#ptmDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#ptmTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#ptmButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#ptmOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#ptmInnerDiv {
    overflow-x:auto;
    margin-left: 53px;
}

#modeDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#modeTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#modeButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#pdmDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#pdmTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#pdmButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#pdmOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#pdmInnerDiv {
    overflow-x:auto;
    margin-left: 53px;
}

#tempoDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
    -webkit-user-select: none;
}

#tempoButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#pscDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#pscTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#pscButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#pscOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#pscInnerDiv {
    overflow-x:auto;
    margin-left: 53px;
}

#timbreDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#timbreTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 590px;
}

#timbreButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#timbreOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#timbreInnerDiv {
    overflow-x:auto;
    margin-left: 53px;
}

input.timbreName {
    background-color: #c374e9 !important;
    text-align: center;
    font-size: 24px;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#download {
    position: absolute;
    top :100px;
    left: 200px;
}

#rulerDiv {
    position: absolute;
    top: 20%;
    left: 30%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#rulerTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#rulerButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#rulerOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#rulerInnerDiv {
    overflow-x: auto !important;
    margin-left: 53px;
}

#sliderDiv {
    position: absolute;
    top: 20%;
    left: 30%;
    background: rgba(255, 255, 255, 0.85) !important;
}

#sliderTableDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 680px;
}

#sliderButtonsDiv {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
}

#sliderOuterDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 5em;
    overflow-y: auto;
    overflow-x: none;
    background: rgba(255, 255, 255, 0.85);
}

#sliderInnerDiv {
    overflow-x:auto;
}

.headcol {
    position: absolute;
    left: 1px;
    text-align: center;
    vertical-align: middle;
}

.labelcol {
    position:absolute;
    top: auto;
    text-align: center;
    vertical-align: middle;
}

#pitchstaircase {
    position: absolute;
    top: 20%;
    left: 30%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
    -webkit-user-select: none;
    overflow-y: scroll !important;
}

#playPitch {
    position: absolute;
    direction: rtl;
    top: 20%;
    left: 25%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.85);
    -webkit-user-select: none;
    overflow-y: scroll !important;
}

#sliderInCell {
    position: absolute;
}

#progressBar {
  width: 1%;
  height: 70px;
  background-color: #4CAF50;
}

.insideDivEnv {
  margin-top: 10px;
  height:50px;
  margin-left:40px;
}

.insideDivFilter {
  margin-top: -30px;
  height:50px;
  margin-left:40px;
}

.insideDivOsc {
  margin-top: -30px;
  height:50px;
  margin-left:40px;
}

.insideDivEffects {
  margin-top: -30px;
  height:50px;
  margin-left:200px;
}

.insideDivSynth {
  margin-top: -30px;
  height:50px;
  margin-left:200px;
}

.btn {
  background-color: #90c100;
  margin-top: 6px;
  height: 24px;
  width: 60px;
  border-color: #90c100;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000;
  float: left;
}

.rectangle {
  border: 4px solid green;
}

#wrapperEnv0, #wrapperEnv1, #wrapperEnv2, #wrapperEnv3 {
  height:50px;
  margin-left: 30px;
}

.rangeslidervalue {
  display: inline-block;
  position: relative;
  / * width: $range-label-width; */
  color: blue;
  background-color: #c8C8C8;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  border-color:green;
  padding: 5px 10px;
  margin-left: 8px;

  ::after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: '';
  }
}

.filterselector {
  margin-top: -50px;
}

#selector0, #selector1 {
  margin-top: -50px;
}

.sel {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

#sel0, #sel1 {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

.wrapper {
  margin-left: 170px;
  height: 50px;
}

#wrapper0, #wrapper1, #wrapper2, #wrapper3, #wrapper4, #wrapper5 {
  margin-left: 170px;
  height: 50px;
}

.s {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}

#s0, #s1, #s2, #s3, #s4, #s5 {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}

#s0 {
  margin-top: 30px;
}

#sOsc0, #sOsc1{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}

#sOsc0 {
  margin-top: 30px;
}

#wrapperOsc0, #wrapperOsc1 {
  margin-left: 170px;
  height: 50px;
}

#selOsc {
  margin-top: -50px;
}

#selOsc1 {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

#sFx0, #sFx1, #sFx2{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;

}

#sS0, #sS1{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
}

#synth0 {
  margin-left: 40px;
  font-weight: bold;
}

#chosen {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
}

#effect0 {
  margin-left: 40px;
  font-weight: bold;
}

.wheelNav {
    height: 350px;
    width: 350px;
    margin: auto;
    -moz-transition: ease 1s;
    -o-transition: ease 1s;
    -webkit-transition: ease 1s;
    transition: ease 1s;
}

.wheelNav > svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 880px) {
    .wheelNav {
        height: 330px;
        width: 330px;
    }
}

@media (max-width: 680px) {
    .wheelNav {
        height: 310px;
        width: 310px;
    }
}

@media (max-width: 480px) {
    .wheelNav {
        height: 290px;
        width: 290px;
    }
}
