/*
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
*/

@import url("play-only-mode.css");

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px solid #0066FF !important;
  outline-offset: 2px;
}

body:not(.dark) #helpfulSearch,
body:not(.dark) .ui-autocomplete {
  background-color: #fff !important;
  color: #000 !important;
}

body:not(.dark) .ui-autocomplete li:hover {
  background-color: #ddd !important;
}

body:not(.dark) #helpfulSearchDiv {
  background-color: #f9f9f9 !important;
}

#newdropdown {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #000000;
  padding: 24px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#newdropdown li {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

#newdropdown li:hover {
  background-color: transparent !important;
}

/* confirm and cancel buttons align horizontally (for newproject dropdown)*/
#newdropdown .button-row {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}

.new-project-title {
  line-height: normal;
  font-size: 24px;
  text-align: left;
  color: #0066FF;
}

#confirmation-message {
  font-size: 16px;
  text-align: left;
  color: black;
}

.modalBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 10000;
  text-align: left;
}

.modal-title {
  color: #0066FF;
  font-size: 24px;
  margin: 0 0 16px 0;
}

.modal-message {
  color: black;
  font-size: 16px;
  margin-bottom: 24px;
}

.clear-button-container {
  display: flex;
  justify-content: flex-start;
}

.confirm-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #0066FF;
  color: white;
  margin-right: 16px;
  transition: background-color 0.2s ease;
}

.confirm-button:hover {
  background-color: #023a76;
}

.cancel-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: #f1f1f1;
  color: black;
}

.cancel-button:hover {
  background-color: #afafaf;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 24px;
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  border-radius: 8px;
  z-index: 10000;
  text-align: left;
}

.block-count-dropdown {
  padding: 4px !important;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #dedededd;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.block-count-dropdown.expanded {
  max-height: 200px;
  overflow-y: auto;
}

.message-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#search[type="text"] {
  width: 300px;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  background-repeat: no-repeat;
  padding: 4.5px 10px 4.5px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-size: 24px;
  color: black;
  max-width: 100%;
}

#search:focus {
  border: 2px solid #87cefa;
}

#search.open {
  margin-top: 60px;
}

#helpfulSearchDiv {
  display: block !important;
  position: absolute;
  background-color: #f0f0f0;
  padding: 2px;
  border: 1px solid #ccc;
  width: 230px;
  z-index: 1;
}

#helpfulSearch {
  padding: 2px;
  border: 2px solid grey;
  width: 220px;
  height: 20px;
  font-size: large;
}

#crossButton {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: large;
  cursor: pointer;
}

.trash-view {
  position: relative;
  background-color: white;
  max-width: 396px;
  max-height: 200px;
  overflow-y: auto;
  font-size: 16px;
  color: black;
  border: 2px solid #87cefa;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.button-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  display: flex;
  gap: 10px;
  background: #2196F3;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #d9d9d9;
}

.trash-item {
  padding: 2px 12px;
  margin: 1px 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.trash-item.hover {
  background-color: #d9d9d9;
}

.trash-item-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

#restoreLastIcon,
#restoreAllIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}


.material-icons.md-48 {
  font-size: 32px;
}


.hidden {
  display: none;
}

.ui-menu {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  max-width: 396px;
  max-height: 200px;
  overflow-y: auto;
  font-size: 18px;
  border: 2px solid #87cefa;
  list-style-type: none;
}

#ui-id-1 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}

#ui-id-1 li {
  padding-top: 5px;
}

#ui-id-1 li img {
  margin-left: 10px;
}

#ui-id-1 li:before {
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 4px;
}

#ui-id-1 li:hover:before {
  background-color: #d0d3d4;
}

.ui-state-focus {
  background-color: #d0d3d4;
}

.scrollSearch {
  max-height: 215px;
  width: 380px;
  padding-left: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
}

#myProgress {
  width: 180px;
  background-color: #92b5c8;
  position: absolute;
}

#myBar {
  width: 0%;
  height: 40px;
  background-color: #ffffff;
  line-height: 30px;
}

.blink {
  animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

/*CSS for load animation*/
#load-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: #fff;
  opacity: 0.7;
  z-index: 99;
  text-align: center;
}

#messageText {
  margin-top: 200px;
  font-size: 30px;
  z-index: 100;
}

#loading-image {
  z-index: 100;
}

#popdown-palette {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 60%;
  max-height: 100%;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.85);
}

#popdown-palette:last-child {
  margin-bottom: 2.5em;
}

#popdown-palette.show {
  display: block;
}

#popdown-palette.show~.canvasHolder {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

#popdown-palette ul {
  display: none;
}

#popdown-palette .palette.show ul {
  display: block;
}

#popdown-palette li {
  list-style: none;
}

#popdown-palette h3 {
  border-bottom: 1px solid #444;
  width: 50%;
  padding: 0 10%;
}

#popdown-palette h2 span {
  vertical-align: 50%;
}

#popdown-palette h2 img {
  display: block;
  float: right;
}

#popdown-palette .palette.show .show-button {
  display: none;
}

#popdown-palette .palette:not(.show) .hide-button {
  display: none;
}

#popdown-palette .palette:not(.show) .popout-button {
  display: none;
}

div.back {
  display: block;
  position: fixed;
  height: 2.5em;
  width: 100%;
  top: calc(100% - 2.5em);
  background-color: #4682b4;
}

div.back h2 {
  margin-top: 0.25em;
  border-bottom: none !important;
  color: white;
}

div.back:active {
  background-color: black;
}

.canvasHolder {
  transition: 0.75s ease all;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;

  height: calc(var(--vh, 1vh) * 100);
}

.canvasHolder.hide {
  display: none;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #8bc34a;
  height: 64px;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  font: 32px sans;
  vertical-align: middle;
  line-height: 64px;
  color: white;
}

nav .nav-container {
  padding: 0 0px;
}

nav h1 {
  font-size: 32px;
  position: relative;
  top: -12px;
  display: inline;
}

nav imghover {
  background-color: rgba(255, 255, 255, 0.3);
}

nav imgactive {
  background-color: rgba(255, 255, 255, 0.8);
}

nav ul {
  list-style: none;
  text-align: right;
  display: inline;
}

nav ul li {
  display: inline;
  padding-right: 12px;
  /*   float: right; */
}

.nav-spacer {
  height: 96px;
}

.content {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.content li {
  display: block;
  list-style: none;
  width: 23.75%;
  float: left;
  padding-left: 1%;
}

.content li[current="true"] img.thumbnail {
  opacity: 0;
}

@media (max-width: 500px) {
  .content li {
    width: 48.5%;
    padding-left: 1%;
  }

  .canvasHolder.hide {
    transform: scale(0.485);
  }

  nav h1 {
    display: none;
  }
}

@media (max-width: 800px) and (min-width: 501px) {
  .content li {
    width: 32%;
    padding-left: 1%;
  }

  .canvasHolder.hide {
    transform: scale(0.32);
  }
}

.content li img.thumbnail {
  background: #96d3f3;
  width: 100%;
  padding: 0;
}

.content li .options,
.content li .options input {
  text-align: center;
}

#planet-iframe {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

iframe,
canvas {
  overflow: clip !important;
  width: 100%;
  height: 100%;
}

.projectname {
  word-wrap: break-word;
}

img.icon {
  border-radius: 100%;
  width: 30px;
}

img.icon:hover {
  background-color: rgba(139, 195, 74, 0.8);
}

#loading-image-container {
  z-index: 89999;
}

body {
  background-color: #92b5c8 !important;
  /*  2.5B 7/4 */
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

body.noScroll {
  overflow: hidden;
}

body.samples-shown {
  overflow-y: scroll;
  background: white !important;
}

select {
  background-color: #88e20a;
  text-align: center;
  font-weight: bold !important;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 20px;
}

input.input {
  background-color: #fff !important;
  text-align: center;
  font-weight: bold !important;
  font-size: 24px !important;
  resize: none !important;
  padding: 0px !important;
  border: 1px !important;
  width: 200px;
}

input.text {
  background-color: #ff5942 !important;
  text-align: center;
  font-weight: bold !important;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100px;
}

input.boolean {
  background-color: #c96df3 !important;
  /* */
  text-align: center;
  font-weight: bold !important;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100px;
}

input.number {
  background-color: #ff5293 !important;
  /* 0RP 8/10 */
  text-align: center;
  font-weight: bold !important;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100px;
}

input.musicratio1,
input.musicratio2 {
  background-color: #8cc6ff !important;
  text-align: center;
  font-size: 24px;
  font-weight: bold !important;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

input.BPMInput {
  background-color: #8cc6ff !important;
  text-align: center;
  font-size: 24px;
  font-weight: bold !important;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

table {
  border-collapse: separate;
  border-spacing: 1px 1px;
}

#canvas {
  overflow-y: visible;
}

#statusDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#statusTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#statusButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#statusOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#statusInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

#playbackDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#playbackTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#playbackButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#playbackOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#playbackInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

#ptmDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#ptmTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 1 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#ptmButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#ptmOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#ptmInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

#arpeggioDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#arpeggioTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 1 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#arpeggioButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#arpeggioOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#arpeggioInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

#modeDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#modeTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#modeButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#meterDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#meterTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#meterButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#pdmDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#pdmTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#pdmButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#pdmOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  background: rgba(255, 255, 255, 0.85);
}

#pdmInnerDiv {
  overflow-x: auto;
  overflow-y: auto;
}

#mkbDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.85) !important;
}

#mkbKeyboardDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 1020px;
}

#mkbTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 1020px;
}

#mkbButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#mkbOuterDiv {
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
  width: 100% !important;
  display: flex;
  left: 0px;
  top: 140px;
  right: 5em;
  background: rgba(255, 255, 255, 0.85);
}

#mkbInnerDiv {
  overflow-x: auto;
  margin-left: 0px;
}

#tempoDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
  user-select: none;
  -webkit-user-select: none;
}

#tempoButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#right-arrow {
  right: 25px;
  background: url("../header-icons/right-arrow.png");
}

#left-arrow {
  left: 10px;
  background: url("../header-icons/left-arrow.png");
}

#left-arrow.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#right-arrow.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#playbackBtn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#right-arrow,
#left-arrow {
  position: absolute;
  background-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  z-index: 2000;
}

.hover:hover {
  cursor: pointer;
}

@media (max-width: 600px) {

  #right-arrow,
  #left-arrow {
    height: 30px;
    width: 30px;
    background-size: 30px;
  }
}

@media (max-width: 450px) {

  #right-arrow,
  #left-arrow {
    height: 25px;
    width: 25px;
    background-size: 25px;
  }
}

@media (max-width: 320px) {

  #right-arrow,
  #left-arrow {
    height: 20px;
    width: 20px;
    background-size: 20px;
  }
}

@media (min-width: 900px) {

  #left-arrow {
    left: 20px;
  }

  #right-arrow {
    right: 20px;
  }
}

.top-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  background: #2196f3;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  height: 55px;
}

.close-button {
  position: absolute;
  font-size: 1em;
  right: 410px;
  width: 18px;
  height: 18px;
  background: url("../header-icons/close.png");
  background-size: 18px;
  cursor: pointer;
}

.drag-button {
  position: absolute;
  right: 20px;
  background: url("../header-icons/move.png");
  background-size: 22px;
  height: 22px;
  width: 22px;
  cursor: move;
}

#helpDiv h1 {
  text-align: left;
  padding-left: 30px;
  font-size: 1.5em;
}

#helpDiv p:first-child {
  padding-left: -10px;
}

#helpDiv p:not(:first-child) {
  text-align: left;
  padding-left: 30px;
  font-size: 0.9em;
  line-height: 20px;
}

#helpButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
}

#helpBodyDiv {
  position: relative;
  margin: 0 auto !important;
  left: 0 !important;
  border: 0 !important;
  overflow-x: hidden;
  overflow: visible;
  width: calc(100% - 130px) !important;
  max-width: 350px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#helpScrollWrapper {
  overflow-y: auto;
}

#helpBodyDiv .heading,
#helpBodyDiv .description,
#helpBodyDiv .message {
  text-align: center;
  line-height: 1.2;
  margin: auto;
}

#helpBodyDiv .icon-container {
  width: 30%;
  margin-top: 1.5rem;
  padding: 1px 1.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container #findIcon,
.icon-container #loadButton,
.icon-container #advIconText {
  transform: scale(1.2);
}

#helpBodyDiv .blockImage-wrapper {
  height: 90%;
  width: 100%;
}

#helpBodyDiv .blockImage {
  padding-top: 2rem;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  #helpBodyDiv .icon-container {
    margin-top: 0;
    padding-top: 0;
  }

  .icon-container #findIcon,
  .icon-container #loadButton,
  .icon-container #advIconText {
    transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  #helpBodyDiv {
    width: 240px;
  }
}

@media (max-width: 320px) {
  #helpBodyDiv {
    width: 200px;
  }
}

#pscDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#pscTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#pscButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#pscOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#pscInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

#timbreDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#timbreTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 590px;
}

#timbreButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#timbreOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#timbreInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

input.timbreName {
  background-color: #8cc6ff !important;
  text-align: center;
  font-size: 24px;
  resize: none !important;
  padding: 0 !important;
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

#temperamentDiv {
  position: absolute;
  top: 20%;
  left: 20%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#temperamentTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(204, 0, 102, 0) !important;
  width: 560px;
}

#temperamentButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#temperamentOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#temperamentInnerDiv {
  overflow-x: auto;
  margin-left: 53px;
}

#graph {
  overflow-y: scroll;
  height: 340px;
}

#userEdit input {
  height: 40px;
  width: 40px;
  background: #8cc6ff;
  border: 1px solid black;
  text-align: center;
}

.popup {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  height: 68px;
  width: 160px;
  border: 1px solid black;
}

.popup .popuptext {
  color: white;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#download {
  position: absolute;
  top: 100px;
  left: 200px;
}

#rulerDiv {
  position: absolute;
  top: 20%;
  left: 30%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#rulerTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#rulerButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#rulerOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#rulerInnerDiv {
  overflow-x: auto !important;
  margin-left: 53px;
}

#sliderDiv {
  position: absolute;
  top: 20%;
  left: 30%;
  background: rgba(255, 255, 255, 0.85) !important;
}

#sliderTableDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85) !important;
  width: 680px;
}

#sliderButtonsDiv {
  position: relative;
  left: 0px;
  top: 0px;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
}

#sliderOuterDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 5em;
  overflow-y: auto;
  overflow-x: none;
  background: rgba(255, 255, 255, 0.85);
}

#sliderInnerDiv {
  overflow-x: auto;
}

.pitchSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 45px;
  width: 15px;
  border-radius: 1px;
  background: blue;
  cursor: pointer;
  margin-top: -8px;
}

.pitchSlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 45px;
  width: 15px;
  border-radius: 1px;
  background: blue;
  cursor: pointer;
}

.headcol {
  user-select: none;
  text-align: center;
  vertical-align: middle;
}

.labelcol {
  user-select: none;
  text-align: center;
  vertical-align: middle;
}

#pitchstaircase {
  position: absolute;
  top: 20%;
  left: 30%;
  border-style: solid;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
  user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll !important;
}

#playPitch {
  position: absolute;
  direction: rtl;
  top: 20%;
  left: 25%;
  border-style: solid;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.85);
  user-select: none;
  -webkit-user-select: none;
  overflow-y: scroll !important;
}

.progressBar {
  width: 1%;
  height: 70px;
  background-color: #4caf50;
}

.insideDivEnv {
  margin-top: 10px;
  height: 50px;
  margin-left: 40px;
}

.insideDivFilter {
  margin-top: -30px;
  height: 50px;
  margin-left: 40px;
}

.insideDivOsc {
  margin-top: -30px;
  height: 50px;
  margin-left: 40px;
}

.insideDivEffects {
  margin-top: -30px;
  height: 50px;
  margin-left: 200px;
}

.insideDivSynth {
  margin-top: -30px;
  height: 50px;
  margin-left: 200px;
}

.btn {
  background-color: #90c100;
  margin-top: 6px;
  height: 24px;
  width: 60px;
  border-color: #90c100;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000;
  float: left;
}

.rectangle {
  border: 4px solid green;
}

#wrapperEnv0,
#wrapperEnv1,
#wrapperEnv2,
#wrapperEnv3 {
  height: 50px;
  margin-left: 30px;
}

.rangeslidervalue {
  display: inline-block;
  position: relative;
  /* width: $range-label-width; */
  color: blue;
  background-color: #c8c8c8;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  border-color: green;
  padding: 5px 10px;
  margin-left: 8px;
}

.rangeslidervalue:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
}

.filterselector {
  margin-top: -50px;
}

#selector0,
#selector1 {
  margin-top: -50px;
}

.sel {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

#sel0,
#sel1 {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

.wrapper {
  margin-left: 170px;
  height: 50px;
}

#wrapper0,
#wrapper1,
#wrapper2,
#wrapper3,
#wrapper4,
#wrapper5 {
  margin-left: 170px;
  height: 50px;
}

.s {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}

#s0,
#s1,
#s2,
#s3,
#s4,
#s5 {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}

#s0 {
  margin-top: 30px;
}

#sOsc0,
#sOsc1 {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}

#sOsc0 {
  margin-top: 30px;
}

#wrapperOsc0,
#wrapperOsc1 {
  margin-left: 170px;
  height: 50px;
}

#selOsc {
  margin-top: -50px;
}

#selOsc1 {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

#sFx0,
#sFx1,
#sFx2 {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
}

#sS0,
#sS1 {
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
}

#synth0 {
  margin-left: 40px;
  font-weight: bold;
}

#chosen {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
}

#effect0 {
  margin-left: 40px;
  font-weight: bold;
}

.wheelNav {
  height: 350px;
  width: 350px;
  margin: auto;
  -moz-transition: ease 1s;
  -o-transition: ease 1s;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  z-index: 10000;
}

.wheelNav>svg {
  width: 100%;
  height: 100%;
}

#chooseKeyDiv {
  height: 350px;
  width: 350px;
  margin: auto;
  z-index: 10;
  background: #f2f2f2;
  border-radius: 50%;
  position: fixed;
}

#chooseKeyDiv>svg {
  width: 100%;
  height: 100%;
  transition: width 2s linear 1s;
}

#movable {
  margin: auto;
  z-index: 10;
  position: fixed;
  display: none;
  background: #f2f2f2;
  font-family: sans-serif;
  text-align: center;
  margin-left: 24px;
}

.radioBtn {
  cursor: pointer;
}

@media (max-width: 880px) {
  .wheelNav {
    height: 330px;
    width: 330px;
  }
}

@media (max-width: 680px) {
  .wheelNav {
    height: 310px;
    width: 310px;
  }
}

@media (max-width: 480px) {
  .wheelNav {
    height: 290px;
    width: 290px;
  }
}

.inactiveLink {
  pointer-events: none !important;
  cursor: default !important;
}

.popupMsg {
  min-width: 50%;
  max-width: 55%;
  height: auto;
  position: absolute;
  top: 130px;
  left: 33%;
  border-radius: 8px;
  background-color: #8cc6ff;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  visibility: hidden;
}

.popupMsg a {
  color: black;
}

#palette td,
thead,
tr,
table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  border: 0;
}

#palette th:hover,
#palette tr:hover {
  background-color: rgba(211, 211, 211, 0.7);
}

#printText {
  border: 2px solid rgb(150, 150, 150);
  z-index: 100;
  width: auto;
  word-wrap: break-word;
  overflow: auto;
  max-height: 60vh;
}

#errorText {
  border: 2px solid red;
  background-color: pink;
  color: #000000;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

#printText.show,
#errorText.show {
  visibility: visible;
}

#printTextContent,
#errorTextContent {
  flex-grow: 1;
  white-space: pre-wrap;
}

.msgCloseIcon {
  width: 28px;
  height: 28px;
  filter: invert(100%);
  transition: background-color 0.3s, filter 0.3s;
}

.msgCloseIcon:hover {
  filter: invert(0%);
}

.disable_highlighting {
  user-select: none;
}

#palette.flex-palette {
  display: flex !important;
  flex-direction: row !important;
}

@media (max-width: 390px) {

  #right-arrow,
  #left-arrow {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 10px;
    margin-left: auto;
    /* Center the arrows horizontally */
    margin-right: auto;
    display: block;
    clear: both;
  }
}

.logo-container {
  position: absolute;
  bottom: 1px;
  /* Distance from the bottom */
  right: 23px;
  /* Distance from the right */
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
}

#link-to-sugarLabs:link,
#link-to-sugarLabs:visited,
#link-to-sugarLabs:hover,
#link-to-sugarLabs:active {
  color: #000;
}

.color-change {
  fill: #033CD2;
  stroke: #78E600;
  stroke-width: 3;
}

#persistentNotification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1E88E5;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
  min-width: 250px;
  max-width: 80%;
}



.chatInterface {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: "10px";
  background-color: white;
}

.chatLog {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.select-mentor {
  width: 80px;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.input-query {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.message-container {
  align-self: flex-start;
  background: #dfdfdf;
  color: #000;
  padding: 10px;
  border-radius: 12px;
  max-width: 60%;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.message-container.user {
  align-self: flex-end;
  background-color: #DCF8C6;
}


.lego-brick {
  display: inline-block;
  background-color: #FF0000;
  border: 1px solid #880000;
  margin: 2px;
}

.lego-size-1 {
  width: 20px;
  height: 10px;
}

.lego-size-2 {
  width: 40px;
  height: 10px;
}

/* ... more sizes ... */
/* ======================================================
   FIX: Center the Welcome Modal on Mobile
   ====================================================== */
@media screen and (max-width: 600px) {
  #helpDiv {
    /* 1. Fit the screen width */
    width: 90% !important;

    /* 2. Center Horizontally */
    left: 50% !important;
    transform: translateX(-50%);
    /* Moves it back by half its width to center it */

    /* 3. Reset Top position if needed */
    top: 15% !important;
  }

  /* Fix the inner text box width so it doesn't overflow */
  #helpBodyDiv {
    width: calc(100% - 110px) !important;
    margin: 0 auto !important;
    left: 0 !important;
    padding: 0 10px;
    box-sizing: border-box;
  }
}