#popdown-palette {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.85);
}

#popdown-palette: last-child {
    margin-bottom: 2.5em;
}

#popdown-palette.show {
    display: block;
}

#popdown-palette.show ~ .canvasHolder {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#popdown-palette ul {
    display: none;
}

#popdown-palette .palette.show ul {
    display: block;
}

#popdown-palette li {
    list-style: none;
}

#popdown-palette h2 {
    border-bottom: 1px solid #444;
    width: 50%;
    padding: 0 10%;
}

#popdown-palette h2 span {
    vertical-align: 50%;
}

#popdown-palette h2 img {
    display: block;
    float: right;
}

#popdown-palette .palette.show .show-button {
    display: none;
}

#popdown-palette .palette:not(.show) .hide-button  {
    display: none;
}

#popdown-palette .palette:not(.show) .popout-button {
    display: none;
}

div.back {
    display: block;
    position: fixed;
    height: 2.5em;
    width: 100%;
    top: calc(100% - 2.5em);
    background-color: #999;
}

div.back h2 {
    margin-top: 0.25em;
    border-bottom: none !important;
    color: white;
}

div.back:active {
    background-color: black;
}

.canvasHolder {
    transition: 0.75s ease all;
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.canvasHolder.hide {
    transform: scale(0.24);
    top: 117px;
    left: 1%;
    width: 100vw;
    height: 75vw;
    overflow: hidden;
    z-index: 0;
    background:  #a0b3ba; /*  #99CCFF; */
}

.canvasHolder.hide canvas {
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #8bc34a;
    height: 64px;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font: 32px sans;
    vertical-align: middle;
    line-height: 64px;
    color: white;
}

nav .nav-container {
    padding: 0 12px;
}

nav .logo {
    padding-left: 12px;
}

nav h1 {
    font-size: 32px;
    position: relative;
    top: -12px;
    display: inline;
}

nav img {
    height: 48px;
    width: 48px;
    margin-top: 6px;
    border-radius: 100%;
}

nav imghover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav imgactive {
    background-color: rgba(255, 255, 255, 0.8);
}

nav ul {
    list-style: none;
    text-align: right;
    display: inline;
}

nav ul li {
    dispalay: inline;
    padding-right: 12px;
    float: right;
}

.nav-spacer {
    height: 48px;
}

.content {
    padding: 0px;
    margin: 0px;
}

.content li {
    display: block;
    list-style: none;
    width: 24%;
    float: left;
    padding-left: 1%;
}

.content li[current=true] img.thumbnail {
    opacity: 0;
}

@media (max-width: 500px) {
    .content li {
	width: 49%;
	padding-left: 1%;
    }
    
    .canvasHolder.hide {
	transform: scale(0.49);
    }
    
    nav h1 {
	display: none;
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    .content li {
	width: 32%;
	padding-left: 1%;
    }
    
    .canvasHolder.hide {
	transform: scale(0.32);
    }
}

.content li img.thumbnail {
    background: #96D3F3;
    width: 100%;
    padding: 0;
}

.content li .options, .content li .options input {
    text-align: center;
}

.planet-content {
    color: #727272;
}

.planet-content h2 {
    color: #212121;
    clear: both;
}

img.icon {
    border-radius: 100%;
    width: 30px;
}

img.icon:hover {
    background-color: rgba(139, 195, 74, 0.8);
}

#loading-image-container {
    z-index: 99999;
}

body {
    background-color: #92b5c8 !important; /*  2.5B 7/4 */
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body.samples-shown {
    overflow-y: scroll;
    background: white !important;
}

select {
    background-color: #88e20a;
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 20px;
}

input.text {
    background-color: #76dbd7 !important; /* 7.5BG 8/6 */
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px;
}

input.drum {
    background-color: #00a09a !important; /* */
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px;
}

input.number {
    background-color: #ffb2bc !important; /* 0RP 8/10 */
    text-align: center;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100px;
}

input.dissectNumber {
    background-color: #c374e9 !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

table {
}

.helpDiv {
    float: right;
    position: absolute;
    margin-top: 57px;
    z-index: -1;
}

#canvas {
    overflow-y: visible;
}

#pitchdrummatrix {
    position: absolute;
    top: 20%;
    left: 30%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 225, 255, 0.85);
    -webkit-user-select: none;
    overflow-x: scroll !important;
}

#statusmatrix {
    position: absolute;
    top: 10%;
    left: 20%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 225, 255, 0.85);
    -webkit-user-select: none;
    overflow-x: scroll !important;
}

#modewidget {
    position: absolute;
    top: 10%;
    left: 20%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 225, 255, 0.85);
    -webkit-user-select: none;
}

#pitchtimematrix {
    position: absolute;
    top: 20%;
    left: 30%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 225, 255, 0.85);
    -webkit-user-select: none;
    overflow-x: scroll !important;
}

#download {
    position: absolute;
    top :100px;
    left: 200px;
}

#rulerbody {
    position: absolute;
    top: 20%;
    left: 30%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 225, 255, 0.85);
    -webkit-user-select: none;
    overflow-x: scroll !important;
}

#drumDiv {
    position: absolute;
    top: 20%;
    left: 26%;
    border-style: solid;
    border: 0 !important;
    background: rgba(255, 225, 255, 0.85);
    -webkit-user-select: none;
}

#pitchstaircase {
  position: absolute;
  top: 20%;
  left: 30%;
  border-style: solid;
  border: 0 !important;
  background: rgba(255, 225, 255, 0.85);
  -webkit-user-select: none;
  overflow-x: scroll !important;
}

#playPitch {
  position: absolute;
  top: 20%;
  left: 26%;
  border-style: solid;
  border: 0 !important;
  background: rgba(255, 225, 255, 0.85);
  -webkit-user-select: none;
}

#pitchSliderDiv {
  position: absolute;
  top: 20%;
  left: 30%;
  border-style: solid;
  border: 0 !important;
  background: rgba(255, 225, 255, 0.85);
  -webkit-user-select: none;
  overflow-x: scroll !important;
}

#TempoDiv {
  position: absolute;
  top: 30%;
  left: 20%;
  border-style: solid;
  border: 0 !important;
  background: rgba(255, 225, 255, 0.85);
  -webkit-user-select: none;
}

#TempoCanvas {
  visibility: hidden;
  position: absolute;
  top : 23%;
  left : 20%;  
}

input.BPMNUMBER {
    background-color: #c374e9 !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold !important;
    resize: none !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

