.dark-mode .blue {
    background-color: #022363 !important;
}

.dark-mode .blue.darken-1 {
    background-color: #01143b !important;
}

.dark-mode  #floatingWindows > .windowFrame {
    border: 2px solid #000000;
    background-color: #454545;
}

.dark-mode .wfbtItem {
    background-color: #225a91;
}

.dark-mode #floatingWindows > .windowFrame > .wfTopBar .wftTitle {
    color: #e8e8e8;
}

.dark-mode .popupMsg {
    background-color: #084e86;
    color: #e8e8e8;
}

.dark-mode #printText {
    border-color: #000000;
}

.dark-mode #loading-image-container {
    background: #1a1a1a !important;
    background-color: #1a1a1a !important;
}

.dark-mode #loadingText {
    color: white !important;
}

.dark-mode .dropdown-content li > a{
    background-color: #1c1c1c;
    color: #3fe0d1;
}

.dark-mode .dropdown-content li > a:hover {
    color: #252525
}

.dark-mode .dropdown-content{
    background-color: #1c1c1c;
}

.dark-mode .language-link{
    color: #fff;
}

body.dark-mode #floatingWindows > .windowFrame {
    background-color: #1C1C1C !important;  
    border: 2px solid #444 !important;     
    color: #FFFFFF !important;             
}

body.dark-mode #helpBodyDiv {
    background: #1C1C1C !important; 
    color: #FFFFFF !important;      
    border: 1px solid #444 !important; /
}

body.dark-mode #helpDiv {
    background: #2A2A2A !important;  
    color: #FFFFFF !important;       
    box-shadow: 0 1px 10px #0000008f !important;  
    border-radius: 5px !important;   
} 

body.dark-mode #helpButtonsDiv {
    background: #1C1C1C !important;  
    color: #FFFFFF !important;       
    border: 1px solid #444 !important; 
    transition: background-color 0.3s ease-in-out !important; 
}

body.dark-mode #floatingWindows > .windowFrame {
    background-color: #1A1A1A !important; 
    border: 2px solid #555 !important;
}

body.dark-mode #helpBodyDiv,
body.dark-mode #helpDiv {
    background: #1E1E1E !important;
    color: #FFFFFF !important;
} 

body.dark-mode #floatingWindows > .windowFrame, 
body.dark-mode #helpDiv, 
body.dark-mode #helpBodyDiv, 
body.dark-mode #helpButtonsDiv {
    transition: background-color 0.3s ease-in-out !important;
} 
