.dark-mode .blue {
    background-color: #022363 !important;
}

.dark-mode .blue.darken-1 {
    background-color: #01143b !important;
}

.dark-mode  #floatingWindows > .windowFrame {
    border: 2px solid #000000;
    background-color: #454545;
}

.dark-mode .wfbtItem {
    background-color: #225a91;
}

.dark-mode #floatingWindows > .windowFrame > .wfTopBar .wftTitle {
    color: #e8e8e8;
}

.dark-mode .popupMsg {
    background-color: #084e86;
    color: #e8e8e8;
}

.dark-mode #printText {
    border-color: #000000;
}

.dark-mode #loading-image-container {
    background: #1a1a1a !important;
    background-color: #1a1a1a !important;
}

.dark-mode #loadingText {
    color: white !important;
}

.dark-mode .dropdown-content li > a{
    background-color: #1c1c1c;
    color: #3fe0d1;
}

.dark-mode .dropdown-content li > a:hover {
    color: #252525
}

.dark-mode .dropdown-content{
    background-color: #1c1c1c;
}

.dark-mode .language-link{
    color: #fff;
}

.dark-mode #search, #helpfulSearch, .ui-autocomplete{
    background-color: #1c1c1c;
    color: #fff;
}

.dark-mode .ui-autocomplete li:hover{
    background-color: #225a91;
}

.dark-mode #helpfulSearchDiv{
    background-color: transparent;
}

.dark-mode #crossButton{
    color: #fff;
}