/* Light Mode Defaults */
body {
  --bg: #e8e8e8;
  --fg: #666666;
  --overlay-bg: rgba(255, 255, 255, 0.75);
}

/* Dark Mode Overrides */
body.dark {
  --bg: #1d1d20;
  --fg: #e8e8e8;
  --overlay-bg: rgba(15, 15, 16, 0.75);

  background: var(--bg);
  color: var(--fg);
}

/* Help widget colors */
.dark #helpBodyDiv {
  background: #1d1d20;
  color: var(--fg);
}

.dark #helpBodyDiv > .heading,
.dark #helpBodyDiv p {
  color: var(--fg);
}
/* Fix white side bars in Help / Tour widget */
.dark #floatingWindows .wfWinBody {
  background-color: var(--bg) !important;
}

.dark #floatingWindows .windowFrame {
  background-color: var(--bg) !important;
}
