input[type=range] {
  height: 4px;
  -webkit-appearance: none;
  
  width: 250px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 10px;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #90c100;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #90c100;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #90c100;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #90c100;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #90c100;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #90c100;
}
input[type=range]:focus::-ms-fill-upper {
  background: #90c100;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000;
  float: left;
}
.rectangle {
  border: 4px solid green;
}
#wrapperEnv0, #wrapperEnv1, #wrapperEnv2, #wrapperEnv3 {
  height:50px;
  margin-left: 30px;
}
.rangeslidervalue {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: blue;
  background-color: #c8C8C8;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  border-color:green;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: '';
  }
}
#insideDivEnv {
  margin-top: 10px;
  height:50px;
  margin-left:40px;
}
#insideDivFilter, #insideDivOsc {
  margin-top: -30px;
  height: 50px;
  margin-left: 40px;
}
#insideDivEffects, #insideDivSynth {
  margin-top: -30px;
  height:50px;
  margin-left:200px;
}
.btn {
  background-color: #90c100;
  margin-top: 6px;
  height: 24px;
  width: 60px;
  border-color: #90c100;
}
#sel {
  margin-top: -50px;
}
#sel1 {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}
#wrapper0, #wrapper1, #wrapper2 {
  margin-left: 170px;
  height: 50px;
}
#s, #s1, #s2{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}
#s {
  margin-top: 30px;
}
#sOsc0, #sOsc1{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: -100px;
}
#sOsc0 {
  margin-top: 30px;
}
#wrapperOsc0, #wrapperOsc1 {
  margin-left: 170px;
  height: 50px;
}
#selOsc {
  margin-top: -50px;
}
#selOsc1 {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}
#sFx0, #sFx1, #sFx2{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
  
}
#sS0, #sS1{
  color: #222;
  text-shadow: 0px 2px 3px #555;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
}
#synth0 {
  margin-left: 40px;
  font-weight: bold;
}
#chosen {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
}
#effect0 {
  margin-left: 40px;
  font-weight: bold;
}