<?xml version='1.0' encoding='utf-8'?>
<widget id="org.sugarlabs.TurtleJS"
	version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TurtleJS</name>
    <description>
        A block-based programming environment for Android.
    </description>
    <author email="walter@sugarlabs.org" href="http://sugarlabs.org">
        Sugar Labs Turtle Blocks Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />

    <preference name="DisallowOverscroll" value="true"/>
    <preference name="permissions" value="none"/>
    <preference name="fullscreen" value="true"/>
    <preference name="uiwebviewbounce" value="false"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="disallowoverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="14"/>
</widget>
