h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0; /* Added to remove default margins */
}

img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto;
}
