name: MusicBlocks Deployment

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          
      - name: Set up Git
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}.git
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
        
      - name: Deploy to GitHub Pages
        run: |
          git checkout gh-pages
          # Make changes to gh-pages branch if necessary
          git add .
          git commit -m "Deploy updates"
          git push origin gh-pages --force
