name: Issue Labeler

on:
    issues:
        types:
            - opened
            - edited
            - reopened

permissions:
    contents: read
    issues: write

jobs:
    label:
        runs-on: ubuntu-latest
        steps:
            - name: Label issue
              uses: github/issue-labeler@v3.4
              with:
                  configuration-path: .github/issue-labeler.yml
                  include-title: 1
                  include-body: 1
                  repo-token: ${{ github.token }}
