name: Linter

# Triggers the workflow on push or pull request events only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out repository under $GITHUB_WORKSPACE, so job can access it
      - uses: actions/checkout@v2

      # Runs the linter
      # - name: Super-Linter
      #   uses: docker://github/super-linter:v3.3.0
      #   env:
      #     VALIDATE_ALL_CODEBASE: false
      #     DISABLE_ERRORS: true
