name: Pull Request Labeler

on:
    pull_request_target:
        types:
            - opened
            - reopened
            - synchronize
            - edited
            - ready_for_review

permissions:
    contents: read
    pull-requests: write

jobs:
    label:
        runs-on: ubuntu-latest
        steps:
            - name: Label pull request by changed files
              uses: actions/labeler@v5
              with:
                  configuration-path: .github/pr-labeler.yml
